@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  @apply bg-white text-gray-900 transition-colors duration-300;
}

html.dark,
html.dark body {
  @apply bg-gray-900 text-gray-100;
} */



@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

